server {
        listen 80;

        server_name {{ appname }}dev.{{ domain }};
        return 301 https://$server_name$request_uri;
}

server {

        listen 443 ssl http2;
        server_name {{ appname }}dev.{{ domain }};

        ssl_certificate       {{ tls_certificate.turk_net }};
        ssl_certificate_key   {{ tls_certificate_key.turk_net }};

        access_log /var/log/nginx/{{ appname }}-access.log;
        error_log /var/log/nginx/{{ appname }}-error.log;

    location / {
        proxy_pass         http://127.0.0.1:5000;
        proxy_http_version 1.1;
        proxy_set_header   Upgrade $http_upgrade;
        proxy_set_header   Connection keep-alive;
        proxy_set_header   Host $host;
        proxy_cache_bypass $http_upgrade;
        proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header   X-Forwarded-Proto $scheme;
    }
}
